@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;700;900&family=Roboto+Mono&display=swap");

:root {
  --base-padding: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  margin: 0;
}

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
} */

.dfinity-logo {
  max-width: 41vw;
  max-height: 23vw;
  display: block;
  margin: 1.5rem auto 0;
}

.title {
  text-align: center;
  margin: 0 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.4rem;
}

.example-code {
  padding: 8px;
  background-color: #151515;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  display: block;
  margin: auto auto 16px;
}

.yellow {
  color: #dfab5c;
}

.blue {
  color: #77b7d7;
}

.white {
  color: #dfe2e7;
}

.purple {
  color: #977cdc;
}

.notifications-outer {
  padding: 0 var(--base-padding) var(--base-padding);
  max-width: 86rem;
  margin: auto;
}

.notifications {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  /* align-items: flex-end; */
  /* border: 1px solid #222; */
  border-radius: 12px;
  padding: 30px 20px;
  background-color: #e2e8f0;
  min-height: 850px;
}

.notifications.inserting {
  transition: padding-top 0.55s cubic-bezier(0.37, 0, 0.63, 1);
  /* padding-top: calc(61.2px + 30px); */ /* 61.2 albo 93.4 */
}

.notification {
  background-color: #fbb03b;
  color: #fff;
  padding: 16px 90px 16px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
  /* min-width: 400px; */
  transition: opacity 0.15s ease-in-out;
}
.notification.transitioned {
}

.notification.appearing {
  opacity: 0;
}

.notification.appeared .notification-icon-bell {
  animation: 0.3s cubic-bezier(0.83, 0, 0.17, 1) 0.35s 4 tilt-shaking;
}

.notification:first-child {
  margin-bottom: 0;
}

.notification p {
  margin: 0 0 0 0;
}

.notification-title {
  font-size: 1.6rem;
  font-weight: 800;
  display: block;
  margin-bottom: 1.3rem;
}

.notification-title + p {
  /* font-weight: 600; */
}

.notification-icon-bell {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
}
.notification.transitioned .notification-icon-bell {
  opacity: 0;
  /* right: -2rem; */
}

.notification-time {
  position: absolute;
  top: 50%;
  right: 4.4rem;
  transform: translate(0, -50%);
  font-size: 1.4rem;
  transition: all 0.5s;
}
.notification.transitioned .notification-time {
  right: 1.4rem;
}

.icon {
  font-size: 2rem;
}

.notification-verified {
  font-size: 0.9rem;
  position: relative;
  color: #d1fae5;
}

.notification-verified .icon {
  font-size: 1.1em;
  position: relative;
  top: 0.17em;
  left: -0.1em;
}

@keyframes tilt-shaking {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  25% {
    transform: translate(0, -50%) rotate(15deg);
  }
  50% {
    transform: translate(0, -50%) rotate(0deg);
  }
  75% {
    transform: translate(0, -50%) rotate(-15deg);
  }
  100% {
    transform: translate(0, -50%) rotate(0deg);
  }
}
